#menu {
    display: flex;
    flex-direction: column;
    width: 200px;
}

a {
    border: 1px solid darkolivegreen;
    background-color: darkolivegreen;
    margin: 5px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

a:hover, a.active {
    color: darkolivegreen;
    background-color: white;

}