<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>112-2</title>
    <link rel="stylesheet" href="112-2.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            header
        </div>
        <div class="container">
            <div class="content">
                content
            </div>
            <div class="sidebar">
                sidebar
            </div>
        </div>
        <div class="footer">
            footer
        </div>
    </div>

</body>

</html>