<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>64-2</title>
    <link rel="stylesheet" href="64-2.css">
</head>

<body>
    <div class="first">
        Lorem ipsum dolor sit amet, consectetur adipiscing elitorire aenean a dapibus magna, ac interdum nisl.
            Suspendisse egetil fringilla nibh, eu commodo arcu. Donec lacinia tempor velite sed tincidunt. Aliquam
            porttitor nulla purus, vel vulputater ipsum faucibus sed. Phasellus sodales, lorem vel cursus vehi ante
            purus lacini dui, interdum fringilla massa eros ut duir.
    </div>
    <div class="second">
        Lorem ipsum dolor sit amet, consectetur adipiscing elitorire aenean a dapibus magna, ac interdum nisl.
            Suspendisse egetil fringilla nibh, eu commodo arcu. Donec lacinia tempor velite sed tincidunt. Aliquam
            porttitor nulla purus, vel vulputater ipsum faucibus sed. Phasellus sodales, lorem vel cursus vehi ante
            purus lacini dui, interdum fringilla massa eros ut duir.
    </div>
</body>

</html>