.parent {
    padding: 20px;
    border: 1px solid black;
}

.children {
    float: right;
    margin: 0 10px;
    width: 100px;
    height: 50px;
    border: 1px solid red;
    text-align: center;
}

.clearfix {
    clear: both;
}