* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

.header, .footer {
    height: 200px;
    padding: 20px;
    border: 1px solid black;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 1000px;
    padding: 20px;
    border: 1px solid black;
}

.content {
    width: 700px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
    border: 1px solid black;
}