h1 {
    font-family: Arial;
}

h2 {
    font-family: Georgia;
}

h3 {
    font-family: Verdana;
}

h4 {
    font-family: Trebuchet;
}

h5 {
    font-family: Impact;
}

h6 {
    font-family: Courier;
}

p {
    font-family: Comic;
}