.first {
    width: 500px;
    padding: 20px;
    border: 1px solid green;
    text-align: justify;
}

.second {
    width: 300px;
    margin: 25px 50px;
    padding: 10px;
    border: 1px solid red;
    text-align: justify;
}
