.parent {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    text-align: justify;
    border: 1px solid black;
}

.children {
    float: right;
    margin: 20px 0 10px 20px;
    width: 100px;
    height: 70px;
    border: 1px solid red;
}