<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TITLE</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <pre class="task1">
        Display some text on the screen so that the hyphens and indents in it are the same as it is done in the code
        editor.
    </pre>
    <div class="task2">
        <p>
            Make the div 200px wide. Make sure that the text in this div does not break to a new line. Add long text to
            the div that won't fit in the width of this block. Check that the text will come out from the right side of
            the block. Make the div 200px wide. Make sure that the text in this div does not break to a new line. Add
            long text to the div that won't fit in the width of this block. Check that the text will come out from the
            right side of the block.
        </p>
    </div>
    <div class="task3">
        <p class="pre">
            Write code that demonstrates the difference between pre, pre-wrap, and pre-line. Write code that
            demonstrates the difference between pre, pre-wrap, and pre-line. Write code that demonstrates the difference
            between pre, pre-wrap, and pre-line. Write code that demonstrates the difference between pre, pre-wrap, and
            pre-line.
        </p>
        <p class="preWrap">
            Write code that demonstrates the difference between pre, pre-wrap, and pre-line. Write code that
            demonstrates the difference between pre, pre-wrap, and pre-line. Write code that demonstrates the difference
            between pre, pre-wrap, and pre-line. Write code that demonstrates the difference between pre, pre-wrap, and
            pre-line.
        </p>
        <p class="preLine">
            Write code that demonstrates the difference between pre, pre-wrap, and pre-line. Write code that
            demonstrates the difference between pre, pre-wrap, and pre-line. Write code that demonstrates the difference
            between pre, pre-wrap, and pre-line. Write code that demonstrates the difference between pre, pre-wrap, and
            pre-line.
        </p>
    </div>
    <div class="task4">
        Display some code on the screen so that the hyphens and indents in it are the same as it is done in the code
        editor.
    </div>
    <div class="task5">
        Display some code on the screen so that the hyphens and indents in it are the same as it is done in the code
        editor.
        Modify the problem so that tabs match four spaces.
    </div>
    <div class="task6">
        Display some code on the screen so that the hyphens and indents in it are the same as it is done in the code
        editor.
        Modify the problem so that tabs match two spaces.
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</body>

</html>